.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 930px;
}

.lista-filmes {
    margin: 15px;
}

.lista-filmes article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.lista-filmes strong{
    padding-bottom: 15px;
    font-size: 22px;
    padding-top: 20px;
}

.lista-filmes img{
    width: 100%;
    max-height: 350px;
}

.lista-filmes article a {
    text-decoration: none;
    color: #fff;
    background: brown;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding: 10px;
}